<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whisper Transcription</title>
</head>
<body>
    <h2>Upload Audio File for Transcription</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="audio_file">
        <button type="submit">Загрузить</button>
    </form>

    {% if transcribed_text %}
        <h3>Transcription:</h3>
        <p>{{ transcribed_text }}</p>
    {% endif %}

    {% if error_message %}
        <p>Error: {{ error_message }}</p>
    {% endif %}
</body>
</html>
